<section class="mx-auto d-flex flex-column p-3" style="">
  <%= render partial: "shared/user/user", locals: {user: @user} %> 
  <div class="d-flex flex-column border mb-2 p-2" >
    <p class="p-2">Bio:</p>
      <%= @user.bio %>
  </div>
  <div class="d-flex flex-column border mb-3">
    <% if @user.post_counter.to_i <= 0 %>
      <p class=""><%= @user.name %> doesn't have a post<em> yet!!</em></p>
    <% else %>
      <% @user.most_recent_posts.each do |post| %>
        <%= render partial: 'shared/post/posts_total', locals: {post: post} %>
      <% end %>
    <% end %>
    <div class="btn btn-dark mb-2">
      <%= link_to("see all posts", user_posts_path(@user)) %>
    </div>
  </div>  
</section>